body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

input[type='text'] {
    background: rgb(237, 237, 237);
    border: transparent;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    text-indent: 10px;
    transition-duration: 0.1s;
}

input[type='text']:focus {
    outline: medium solid rgba(0, 140, 255, 0.5) 
}

button {
    background: rgba(0, 140, 255);
    color: white;
    border: transparent;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background: rgb(0, 122, 222)
}

h1 {
    color: limegreen;
}